<% @reviews.each do |review| %>
  <p><%= review.rating %>/5 --
  <%= review.body %>
  <div class="vote_total">
    Votes: <div id="review-<%= review.id %>" class="vote-number"><%= review.votes.tally %></ div>
  </div>
  <% if current_user == review.user %>
    <%= link_to 'Edit Review', edit_review_path(review) %>
    <%= button_to 'Delete Review', review_path(review), method: :delete, data: { confirm: 'Are you sure?'} %>
  <% elsif current_user.admin? %>
    <%= button_to 'Delete Review', review_path(review, review.location), method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
  </p>


  <div class="upvote-button">
    <% target_vote = review.find_user(current_user) %>
    <% if target_vote && target_vote.value = 1 %>
      <%= button_to "Upvote", review_upvote_path(review.id, review.find_user(current_user)), class: "patch_upvote", remote: true, method: :patch %>
    <% else %>
      <%= button_to "Upvote", review_upvotes_path(review), class: "new_upvote", remote: true, method: :post%>
    <% end %>
  </div>

  <div id="downvote-button">
    <% if target_vote && target_vote.value = -1 %>
      <%= button_to "Downvote", review_downvote_path(review.id, review.find_user(current_user)), class: "patch_downvote", remote: true, method: :patch %>
    <% else %>
      <%= button_to "Downvote", review_downvotes_path(review), class: "new_downvote", remote: true, method: :post %>
    <% end %>
  </div>

  <% if target_vote %>
    <%= button_to "Cancel", review_downvote_path(review.id, review.find_user(current_user)), method: :patch %>
  <% end %>
  <br>
  <%= paginate @reviews %>

<% end %>
