<% @reviews.each do |review| %>
  <p><%= review.rating %>/5 --
  <%= review.body %>
  Votes: <%= review.votes.tally %>
  <% if current_user == review.user %>
    <%= link_to 'Edit', edit_review_path(review) %>
    <%= button_to 'Delete Review', review_path(review), method: :delete, data: { confirm: 'Are you sure?'} %>
  <% elsif current_user.admin? %>
    <%= button_to 'Delete Review', review_path(review), method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
  </p>

  <div id="upvote-button">
    <% target_vote = review.find_user(current_user) %>
    <% if target_vote && target_vote.value = 1 %>
      <%= button_to "Upvote", review_upvote_path(review.id, review.find_user(current_user)), method: :patch %>
    <% else %>
      <%= button_to "Upvote", review_upvotes_path(review), method: :post%>
    <% end %>
  </div>

  <div id="downvote-button">
    <% if target_vote && target_vote.value = -1 %>
      <%= button_to "Downvote", review_downvote_path(review.id, review.find_user(current_user)), method: :patch %>
    <% else %>
      <%= button_to "Downvote", review_downvotes_path(review), method: :post %>
    <% end %>
  </div>

  <% if target_vote %>
    <%= button_to "Cancel", review_downvote_path(review.id, review.find_user(current_user)), method: :patch %>
  <% end %>
  <br>
  <%= paginate @reviews %>

<% end %>
