<% @reviews.each do |review| %>
  <p><%= review.rating %>/5 --
  <%= review.body %>
  Votes: <%= review.votes.tally %>
  </p>
  
  <% if review.votes.find_by(user: current_user) && vote_value = 1 %>
    <%= link_to "Upvote", review_downvote_path(review.id, review.user_vote(current_user)), method: :patch%>
  <% else %>
    <%= link_to "Upvote", review_upvotes_path(review), method: :post%>
  <% end %>

  <% if review.votes.find_by(user: current_user) && vote_value = 1 %>
    <%= link_to "Downvote", review_downvote_path(review.id, review.user_vote(current_user)), method: :patch%>
  <% else %>
    <%= link_to "Downvote", review_downvotes_path(review), method: :post%>
  <% end %>

  <% if review.votes.find_by(user: current_user) %>
  <%= link_to "Cancel", review_downvote_path(review.id, review.user_vote(current_user)), method: :patch%>
  <% end %>

<% end %>
<br><br>
<% if current_user %>
  <%= link_to 'Add a Review', new_location_review_path(@location) %>
<% else %>
   Want to add a review? Please <%= link_to 'sign in', new_user_session_path %>
<% end %>
