<h1>Cities</h1>
  <ul>
    <% @locations.each do |city| %>
      <li>
        <%= city.name %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a New City", new_location_path %>
<br />
<%= link_to "Log Out", destroy_user_session_path %>
<br />
<%= link_to "Sign In", new_user_session_path %>
<br />
<%= link_to "Sign Up", new_user_registration_path %>
