<h1> <%= @location.name %> </h1>
<h2> State: <%= @location.state %> </h2>
<p> Description: <%= @location.description %> </p>
<br>
<% @reviews.each do |review| %>
  <p><%= review.rating %>/5 --
  <%= review.body %>
  <% if current_user == review.user %>
  <%= link_to 'Edit', edit_review_path(review) %>
  <%= button_to 'Delete Review', review_path(review), method: :delete, data: { confirm: 'Are you sure?'} %>
  <% elsif current_user.admin? %>
  <%= button_to 'Delete Review', review_path(review), method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
</p>
  <br />

  <%= paginate @reviews %>

<% end %>

<% if current_user %>
  <%= link_to 'Add a Review', new_location_review_path(@location) %>
<% end %>

<% if current_user == nil %>
  Want to add a review? Please <%= link_to 'sign in', new_user_session_path %>
<% elsif current_user == @location.user %>
  <%= link_to 'Edit', edit_location_path(@location) %>
  <%= button_to 'Delete City', @location, method: :delete, data: { confirm: 'Are you sure?'} %>
<% elsif current_user.admin? %>
  <%= button_to 'Delete City', @location, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>


<%= link_to 'Back', locations_path %>
