<h2> <%= @location.name %> </h2>
<h3> State: <%= @location.state %> </h3>
<p> Description: <%= @location.description %> </p>
<br>

<div>
</div>

  <% if current_user == nil %>
    Want to add a review? Please <%= link_to 'sign in', new_user_session_path %>
  <% end %>

<ul class="breadcrumbs">
  <li><%= link_to 'Back', locations_path %></li>
  <% if current_user %>
    <li><%= link_to 'Add a Review', new_location_review_path(@location) %></li>
  <% end %>
  <% if current_user == @location.user %>
    <li><%= link_to 'Edit City', edit_location_path(@location) %></li>
    <li><%= button_to 'Delete City', @location, method: :delete, data: { confirm: 'Are you sure?'} %></li>
  <% elsif current_user.admin? %>
    <li><%= button_to 'Delete City', @location, method: :delete, data: { confirm: 'Are you sure?'} %></li>
  <% end %>
</ul>

<%= render './reviews/index' %>
